In [2]:
# Convert CSV to Pandas DataFrame
import pandas as pd

raptors_regularseason_df = pd.read_csv('raptors_regularseason.csv')
raptors_postseason_df = pd.read_csv('raptors_postseason.csv')
cavaliers_regularseason_df = pd.read_csv('cavaliers_regularseason.csv')
cavaliers_postseason_df = pd.read_csv('cavaliers_postseason.csv')
kyrie_irving_df = pd.read_csv('kyrie_irving_df.csv')
lebron_james_df = pd.read_csv('lebron_james_df.csv')
kyle_lowry_df = pd.read_csv('kyle_lowry.csv')
demar_derozan_df = pd.read_csv('demar_derozan.csv')

In [7]:
raptors_postseason_df.head()

,id,date,home_team_score,period,postseason,season,status,visitor_team_score,home_team.id,home_team.abbreviation,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,33748,2016-04-16,90,4,True,2015,Final,100,28,TOR,...,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,LOSS,43.643475,-79.379379
1,33750,2016-04-18,98,4,True,2015,Final,87,28,TOR,...,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,WIN,43.643475,-79.379379
2,33880,2016-04-21,85,4,True,2015,Final,101,12,IND,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,39.763889,-86.155556
3,33755,2016-04-23,100,4,True,2015,Final,83,12,IND,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,LOSS,39.763889,-86.155556
4,33885,2016-04-26,102,4,True,2015,Final,99,28,TOR,...,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,WIN,43.643475,-79.379379

In [5]:
raptors_regularseason_df

,id,date,home_team_score,period,postseason,season,status,visitor_team_score,home_team.id,home_team.abbreviation,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,27820,2015-10-28,106,4,False,2015,Final,99,28,TOR,...,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,WIN,43.643475,-79.379379
1,27689,2015-10-30,103,4,False,2015,Final,113,2,BOS,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,42.366291,-71.062630
2,28885,2015-11-01,106,4,False,2015,Final,87,28,TOR,...,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Bucks,WIN,43.643475,-79.379379
3,29251,2015-11-03,91,4,False,2015,Final,102,7,DAL,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,32.790527,-96.810883
4,31100,2015-11-04,98,4,False,2015,Final,103,21,OKC,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,35.463400,-97.515100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,34532,2018-04-04,96,4,False,2017,Final,78,28,TOR,...,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics,WIN,43.643475,-79.379379
242,33275,2018-04-06,92,4,False,2017,Final,73,28,TOR,...,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,WIN,43.643475,-79.379379
243,34954,2018-04-08,112,4,False,2017,Final,101,28,TOR,...,22,ORL,Orlando,East,Southeast,Orlando Magic,Magic,WIN,43.643475,-79.379379
244,33025,2018-04-09,98,4,False,2017,Final,108,9,DET,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,42.341111,-83.055000
245,35631,2018-04-11,116,4,False,2017,Final,109,16,MIA,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,LOSS,25.781441,-80.188332

In [8]:
cavaliers_regularseason_df

,id,date,home_team_score,period,postseason,season,status,visitor_team_score,home_team.id,home_team.abbreviation,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,31090,2015-10-27,97,4,False,2015,Final,95,5,CHI,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,41.880692,-87.674370
1,31093,2015-10-28,76,4,False,2015,Final,106,15,MEM,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,35.138056,-90.050556
2,28882,2015-10-30,102,4,False,2015,Final,92,6,CLE,...,16,MIA,Miami,East,Southeast,Miami Heat,Heat,WIN,41.496389,-81.688056
3,28664,2015-11-02,100,4,False,2015,Final,107,23,PHI,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,39.901111,-75.171944
4,28666,2015-11-04,96,4,False,2015,Final,86,6,CLE,...,20,NYK,New York,East,Atlantic,New York Knicks,Knicks,WIN,41.496389,-81.688056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,34530,2018-04-03,112,4,False,2017,Final,106,6,CLE,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,41.496389,-81.688056
242,34534,2018-04-05,119,4,False,2017,Final,115,6,CLE,...,30,WAS,Washington,East,Southeast,Washington Wizards,Wizards,WIN,41.496389,-81.688056
243,33713,2018-04-06,132,4,False,2017,Final,130,23,PHI,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,39.901111,-75.171944
244,34955,2018-04-09,109,4,False,2017,Final,123,20,NYK,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,40.750556,-73.993611
245,34958,2018-04-11,98,4,False,2017,Final,110,6,CLE,...,20,NYK,New York,East,Atlantic,New York Knicks,Knicks,LOSS,41.496389,-81.688056

In [9]:
cavaliers_postseason_df

,id,date,home_team_score,period,postseason,season,status,visitor_team_score,home_team.id,home_team.abbreviation,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,33876,2016-04-17,106,4,True,2015,Final,101,6,CLE,...,9,DET,Detroit,East,Central,Detroit Pistons,Pistons,WIN,41.496389,-81.688056
1,33879,2016-04-20,107,4,True,2015,Final,90,6,CLE,...,9,DET,Detroit,East,Central,Detroit Pistons,Pistons,WIN,41.496389,-81.688056
2,33881,2016-04-22,91,4,True,2015,Final,101,9,DET,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,42.341111,-83.055000
3,33883,2016-04-24,98,4,True,2015,Final,100,9,DET,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,42.341111,-83.055000
4,34016,2016-05-02,104,4,True,2015,Final,93,6,CLE,...,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks,WIN,41.496389,-81.688056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,33301,2018-05-27,79,4,True,2017,Final,87,2,BOS,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,42.366291,-71.062630
57,33719,2018-05-31,124,4,True,2017,Final,114,10,GSW,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,37.768056,-122.387500
58,33720,2018-06-03,122,4,True,2017,Final,103,10,GSW,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,37.768056,-122.387500
59,33721,2018-06-06,102,4,True,2017,Final,110,6,CLE,...,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors,LOSS,41.496389,-81.688056
60,33722,2018-06-08,85,4,True,2017,Final,108,6,CLE,...,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors,LOSS,41.496389,-81.688056

In [10]:
kyrie_irving_df

,id,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,fta,ftm,min,oreb,pf,pts,reb,stl,turnover,total_min
0,29073,2015-12-20,4.0,0.0,1.0,1.000,2.0,2.0,0.417,12.0,...,0.0,0.0,17:04,0.0,1.0,12.0,1.0,2.0,1.0,17.066667
1,32023,2015-12-23,4.0,0.0,0.0,0.000,1.0,0.0,0.143,7.0,...,3.0,3.0,18:57,1.0,2.0,5.0,1.0,0.0,2.0,18.950000
2,27417,2015-12-25,2.0,0.0,0.0,0.000,6.0,0.0,0.267,15.0,...,5.0,5.0,26:14,3.0,1.0,13.0,3.0,1.0,2.0,26.233333
3,27419,2015-12-28,2.0,0.0,1.0,0.286,7.0,2.0,0.438,16.0,...,6.0,6.0,24:10,0.0,0.0,22.0,1.0,1.0,1.0,24.166667
4,28204,2016-01-02,5.0,0.0,1.0,0.000,4.0,0.0,0.333,12.0,...,7.0,5.0,21:26,1.0,1.0,13.0,2.0,0.0,1.0,21.433333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,35600,2018-02-26,5.0,0.0,6.0,0.625,8.0,5.0,0.615,13.0,...,4.0,4.0,24:55,0.0,2.0,25.0,6.0,0.0,2.0,24.916667
220,34787,2018-02-28,5.0,0.0,3.0,0.667,6.0,4.0,0.722,18.0,...,4.0,4.0,24:35,1.0,1.0,34.0,4.0,1.0,1.0,24.583333
221,33598,2018-03-03,6.0,0.0,3.0,0.286,7.0,2.0,0.353,17.0,...,5.0,4.0,35:25,0.0,4.0,18.0,3.0,1.0,3.0,35.416667
222,34493,2018-03-08,8.0,1.0,6.0,0.429,7.0,3.0,0.600,15.0,...,2.0,2.0,29:36,1.0,2.0,23.0,7.0,2.0,4.0,29.600000
223,34913,2018-03-11,1.0,0.0,3.0,0.333,3.0,1.0,0.500,6.0,...,0.0,0.0,15:55,1.0,0.0,7.0,4.0,1.0,3.0,15.916667

In [11]:
lebron_james_df

,id,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,fta,ftm,min,oreb,pf,pts,reb,stl,turnover,total_min
0,31090,2015-10-27,5.0,0.0,10.0,0.200,5.0,1.0,0.545,22.0,...,3.0,0.0,36:04,0.0,3.0,25.0,10.0,1.0,1.0,36.066667
1,31093,2015-10-28,5.0,0.0,6.0,0.000,3.0,0.0,0.308,13.0,...,8.0,4.0,30:48,1.0,1.0,12.0,7.0,3.0,3.0,30.800000
2,28882,2015-10-30,4.0,0.0,3.0,0.000,2.0,0.0,0.684,19.0,...,5.0,3.0,33:56,2.0,3.0,29.0,5.0,1.0,4.0,33.933333
3,28664,2015-11-02,11.0,2.0,9.0,0.000,3.0,0.0,0.474,19.0,...,4.0,4.0,33:20,0.0,3.0,22.0,9.0,4.0,3.0,33.333333
4,28666,2015-11-04,3.0,1.0,3.0,0.200,5.0,1.0,0.391,23.0,...,7.0,4.0,35:04,2.0,1.0,23.0,5.0,4.0,3.0,35.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,33301,2018-05-27,9.0,2.0,15.0,0.375,8.0,3.0,0.500,24.0,...,11.0,8.0,48:00,0.0,4.0,35.0,15.0,0.0,8.0,48.000000
289,33719,2018-05-31,8.0,1.0,4.0,0.429,7.0,3.0,0.594,32.0,...,11.0,10.0,47:32,4.0,2.0,51.0,8.0,1.0,5.0,47.533333
290,33720,2018-06-03,13.0,0.0,8.0,0.500,4.0,2.0,0.500,20.0,...,9.0,7.0,43:51,1.0,2.0,29.0,9.0,2.0,5.0,43.850000
291,33721,2018-06-06,11.0,2.0,7.0,0.167,6.0,1.0,0.464,28.0,...,7.0,6.0,46:52,3.0,2.0,33.0,10.0,2.0,4.0,46.866667
292,33722,2018-06-08,8.0,1.0,6.0,0.000,1.0,0.0,0.538,13.0,...,11.0,9.0,40:34,1.0,5.0,23.0,7.0,0.0,6.0,40.566667

In [12]:
kyle_lowry_df

,id,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,fta,ftm,min,oreb,pf,pts,reb,stl,turnover,total_min
0,27820,2015-10-28,6.0,0.0,2.0,0.500,4.0,2.0,0.471,17.0,...,6.0,5.0,38:58,1.0,4.0,23.0,3.0,2.0,5.0,38.966667
1,27689,2015-10-30,9.0,2.0,6.0,0.000,1.0,0.0,0.273,11.0,...,10.0,8.0,34:14,1.0,4.0,14.0,7.0,3.0,3.0,34.233333
2,28885,2015-11-01,7.0,0.0,3.0,0.200,5.0,1.0,0.500,10.0,...,4.0,4.0,29:19,2.0,3.0,15.0,5.0,4.0,1.0,29.316667
3,29251,2015-11-03,10.0,2.0,5.0,0.800,5.0,4.0,0.600,15.0,...,5.0,5.0,36:49,0.0,4.0,27.0,5.0,3.0,4.0,36.816667
4,31100,2015-11-04,1.0,0.0,4.0,0.375,8.0,3.0,0.357,14.0,...,6.0,4.0,33:51,0.0,4.0,17.0,4.0,2.0,5.0,33.850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,34808,2018-04-27,6.0,0.0,5.0,0.429,7.0,3.0,0.600,15.0,...,4.0,3.0,31:37,1.0,2.0,24.0,6.0,1.0,2.0,31.616667
249,35639,2018-05-01,10.0,0.0,3.0,0.500,6.0,3.0,0.500,12.0,...,3.0,3.0,39:40,0.0,2.0,18.0,3.0,1.0,4.0,39.666667
250,33043,2018-05-03,8.0,0.0,4.0,0.500,6.0,3.0,0.700,10.0,...,5.0,4.0,33:47,0.0,5.0,21.0,4.0,0.0,4.0,33.783333
251,33047,2018-05-05,7.0,0.0,3.0,0.500,8.0,4.0,0.692,13.0,...,6.0,5.0,41:11,0.0,2.0,27.0,3.0,2.0,5.0,41.183333
252,33051,2018-05-07,10.0,0.0,4.0,0.250,4.0,1.0,0.286,7.0,...,0.0,0.0,29:30,0.0,2.0,5.0,4.0,0.0,0.0,29.500000

In [13]:
demar_derozan_df

,id,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,fta,ftm,min,oreb,pf,pts,reb,stl,turnover,total_min
0,27820,2015-10-28,6.0,0.0,5.0,0.50,2.0,1.0,0.412,17.0,...,16.0,10.0,35:52,0.0,2.0,25.0,5.0,2.0,2.0,35.866667
1,27689,2015-10-30,6.0,0.0,6.0,0.25,4.0,1.0,0.333,15.0,...,14.0,12.0,34:45,1.0,4.0,23.0,7.0,2.0,3.0,34.750000
2,28885,2015-11-01,4.0,1.0,1.0,0.00,1.0,0.0,0.538,13.0,...,2.0,1.0,37:17,0.0,1.0,15.0,1.0,1.0,2.0,37.283333
3,29251,2015-11-03,2.0,0.0,3.0,0.00,0.0,0.0,0.462,13.0,...,8.0,8.0,28:23,1.0,3.0,20.0,4.0,1.0,3.0,28.383333
4,31100,2015-11-04,3.0,0.0,4.0,0.00,0.0,0.0,0.389,18.0,...,15.0,14.0,38:35,1.0,1.0,28.0,5.0,2.0,2.0,38.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,34808,2018-04-27,4.0,0.0,2.0,0.00,4.0,0.0,0.333,18.0,...,4.0,4.0,33:27,0.0,2.0,16.0,2.0,0.0,0.0,33.450000
268,35639,2018-05-01,5.0,3.0,6.0,0.00,4.0,0.0,0.500,20.0,...,3.0,2.0,40:17,1.0,3.0,22.0,7.0,1.0,2.0,40.283333
269,33043,2018-05-03,3.0,0.0,0.0,0.00,5.0,0.0,0.478,23.0,...,2.0,2.0,35:06,0.0,5.0,24.0,0.0,0.0,1.0,35.100000
270,33047,2018-05-05,2.0,2.0,3.0,0.00,0.0,0.0,0.250,12.0,...,2.0,2.0,27:48,1.0,3.0,8.0,4.0,2.0,3.0,27.800000
271,33051,2018-05-07,1.0,0.0,4.0,0.00,0.0,0.0,0.455,11.0,...,4.0,3.0,33:03,1.0,4.0,13.0,5.0,0.0,2.0,33.050000

In [16]:
# Join Lebron James and Cavaliers Regular Season and postseason with date
lebron_james_regularseason_df = pd.merge(lebron_james_df, cavaliers_regularseason_df, on='date')
lebron_james_postseason_df = pd.merge(lebron_james_df, cavaliers_postseason_df, on='date')
lebron_james_regularseason_df

,id_x,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,31090,2015-10-27,5.0,0.0,10.0,0.200,5.0,1.0,0.545,22.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,41.880692,-87.674370
1,31093,2015-10-28,5.0,0.0,6.0,0.000,3.0,0.0,0.308,13.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,35.138056,-90.050556
2,28882,2015-10-30,4.0,0.0,3.0,0.000,2.0,0.0,0.684,19.0,...,16,MIA,Miami,East,Southeast,Miami Heat,Heat,WIN,41.496389,-81.688056
3,28664,2015-11-02,11.0,2.0,9.0,0.000,3.0,0.0,0.474,19.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,39.901111,-75.171944
4,28666,2015-11-04,3.0,1.0,3.0,0.200,5.0,1.0,0.391,23.0,...,20,NYK,New York,East,Atlantic,New York Knicks,Knicks,WIN,41.496389,-81.688056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,34530,2018-04-03,6.0,0.0,10.0,0.500,6.0,3.0,0.571,14.0,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,41.496389,-81.688056
228,34534,2018-04-05,14.0,0.0,7.0,0.286,7.0,2.0,0.600,20.0,...,30,WAS,Washington,East,Southeast,Washington Wizards,Wizards,WIN,41.496389,-81.688056
229,33713,2018-04-06,11.0,1.0,10.0,0.500,8.0,4.0,0.586,29.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,39.901111,-75.171944
230,34955,2018-04-09,11.0,0.0,6.0,0.500,6.0,3.0,0.438,16.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,40.750556,-73.993611
231,34958,2018-04-11,2.0,0.0,4.0,0.000,2.0,0.0,0.444,9.0,...,20,NYK,New York,East,Atlantic,New York Knicks,Knicks,LOSS,41.496389,-81.688056

In [20]:
lebron_james_postseason_df

,id_x,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,33876,2016-04-17,11.0,2.0,5.0,0.000,3.0,0.0,0.529,17.0,...,9,DET,Detroit,East,Central,Detroit Pistons,Pistons,WIN,41.496389,-81.688056
1,33879,2016-04-20,3.0,0.0,5.0,0.500,4.0,2.0,0.667,18.0,...,9,DET,Detroit,East,Central,Detroit Pistons,Pistons,WIN,41.496389,-81.688056
2,33881,2016-04-22,7.0,1.0,12.0,0.167,6.0,1.0,0.333,24.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,42.341111,-83.055000
3,33883,2016-04-24,6.0,0.0,9.0,0.167,6.0,1.0,0.474,19.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,42.341111,-83.055000
4,34016,2016-05-02,9.0,1.0,7.0,0.500,4.0,2.0,0.524,21.0,...,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks,WIN,41.496389,-81.688056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,33301,2018-05-27,9.0,2.0,15.0,0.375,8.0,3.0,0.500,24.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,42.366291,-71.062630
57,33719,2018-05-31,8.0,1.0,4.0,0.429,7.0,3.0,0.594,32.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,37.768056,-122.387500
58,33720,2018-06-03,13.0,0.0,8.0,0.500,4.0,2.0,0.500,20.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,37.768056,-122.387500
59,33721,2018-06-06,11.0,2.0,7.0,0.167,6.0,1.0,0.464,28.0,...,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors,LOSS,41.496389,-81.688056
60,33722,2018-06-08,8.0,1.0,6.0,0.000,1.0,0.0,0.538,13.0,...,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors,LOSS,41.496389,-81.688056

In [19]:
# Join Kyrie Irving and Cavaliers Regular Season / postseason with date
kyrie_irving_regularseason_df = pd.merge(kyrie_irving_df, cavaliers_regularseason_df, on='date')
kyrie_irving_postseason_df = pd.merge(kyrie_irving_df, cavaliers_postseason_df, on='date')
kyrie_irving_regularseason_df

,id_x,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,29073,2015-12-20,4.0,0.0,1.0,1.000,2.0,2.0,0.417,12.0,...,23,PHI,Philadelphia,East,Atlantic,Philadelphia 76ers,76ers,WIN,41.496389,-81.688056
1,32023,2015-12-23,4.0,0.0,0.0,0.000,1.0,0.0,0.143,7.0,...,20,NYK,New York,East,Atlantic,New York Knicks,Knicks,WIN,41.496389,-81.688056
2,27417,2015-12-25,2.0,0.0,0.0,0.000,6.0,0.0,0.267,15.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,37.768056,-122.387500
3,27419,2015-12-28,2.0,0.0,1.0,0.286,7.0,2.0,0.438,16.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,33.445833,-112.071389
4,28204,2016-01-02,5.0,0.0,1.0,0.000,4.0,0.0,0.333,12.0,...,22,ORL,Orlando,East,Southeast,Orlando Magic,Magic,WIN,41.496389,-81.688056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,35228,2018-02-09,5.0,0.0,1.0,0.286,7.0,2.0,0.444,18.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,33.757290,-84.397331
151,35594,2018-02-11,5.0,0.0,3.0,0.143,7.0,1.0,0.500,14.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,42.366291,-71.062630
152,34784,2018-02-23,6.0,0.0,5.0,0.444,9.0,4.0,0.500,14.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,WIN,35.138056,-90.050556
153,33598,2018-03-03,6.0,0.0,3.0,0.286,7.0,2.0,0.353,17.0,...,8,DEN,Denver,West,Northwest,Denver Nuggets,Nuggets,LOSS,41.496389,-81.688056
154,34913,2018-03-11,1.0,0.0,3.0,0.333,3.0,1.0,0.500,6.0,...,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers,LOSS,34.043087,-118.267616

In [21]:
# Join Kyle Lowry and Rapters Regular Season by date ( FUll Outer Join)
kyle_lowry_regularseason_df = pd.merge(kyle_lowry_df, raptors_regularseason_df, on='date')

kyle_lowry_regularseason_df

,id_x,date,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name,outcome,latitude,longitude
0,27820,2015-10-28,6.0,0.0,2.0,0.500,4.0,2.0,0.471,17.0,...,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,WIN,43.643475,-79.379379
1,27689,2015-10-30,9.0,2.0,6.0,0.000,1.0,0.0,0.273,11.0,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,42.366291,-71.062630
2,28885,2015-11-01,7.0,0.0,3.0,0.200,5.0,1.0,0.500,10.0,...,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Bucks,WIN,43.643475,-79.379379
3,29251,2015-11-03,10.0,2.0,5.0,0.800,5.0,4.0,0.600,15.0,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,32.790527,-96.810883
4,31100,2015-11-04,1.0,0.0,4.0,0.375,8.0,3.0,0.357,14.0,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,35.463400,-97.515100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,34532,2018-04-04,5.0,1.0,4.0,0.286,7.0,2.0,0.455,11.0,...,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics,WIN,43.643475,-79.379379
211,33275,2018-04-06,9.0,2.0,5.0,0.375,8.0,3.0,0.273,11.0,...,12,IND,Indiana,East,Central,Indiana Pacers,Pacers,WIN,43.643475,-79.379379
212,34954,2018-04-08,7.0,0.0,1.0,0.143,7.0,1.0,0.300,10.0,...,22,ORL,Orlando,East,Southeast,Orlando Magic,Magic,WIN,43.643475,-79.379379
213,33025,2018-04-09,9.0,1.0,6.0,0.429,7.0,3.0,0.500,8.0,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,WIN,42.341111,-83.055000
214,35631,2018-04-11,9.0,0.0,9.0,0.500,10.0,5.0,0.500,20.0,...,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors,LOSS,25.781441,-80.188332